.App {
  text-align: center;
  
}

.app-container {
  width: 90%;
  margin: auto;
  

}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
